    body {
    background-color: pink; /* O el color que prefieras de fondo */
    margin: 0;
    padding: 20px;
    font-family: "Trebuchet MS", sans-serif;
}

.encabezado {
    background-color: white;
    color: #b531cf;             /* El color de letra morado que elegiste */
    padding: 10px 40px;          
    border-radius: 15px;    
    border: 2px solid #b531cf;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.logo-fuera {
    display: block;      
    margin: 30px auto;   /* 30px de espacio para que no esté pegada al rectángulo */
    width: 250px;        /* Aquí ajustas el tamaño que quieras */
    height: auto;
}

.texto-titulo{
    text-align: center;
    flex-grow: 1;
}

.texto-titulo h1{
    margin: 0;
    font-size: 2.5rem;
}

.texto-titulo p{
    font-size: 1.2rem;
    margin: 5px 0 0 0;
}